<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit an Item</title>
</head>
<body>

    <form action="/edit/<%= name %>" method="POST">

        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="<%= name %>"/>

        <label for="price">Price</label>
        <input id="price" type="text" name="price" value="<%= price %>"/>

        <label for="vegan">Vegan</label>
        <input id="vegan" type="text" name="vegan" value="<%= vegan %>"/>

        <button>Update</button>
    </form>

</body>
</html>