<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Objective</title>
</head>
<body>
  
  <form action="/objectives/new" method="POST">
    <label for="question">Question</label>
    <input type="" name="question" id="question" />
    <label for="answer">Answer</label>
    <input type="" name="answer" id="answer" />
    <label for="type">Type</label>
    <input type="" name="type" id="type" />
    <label for="sort">Sort</label>
    <input type="" name="sort" id="sort" />
    <button>Add</button>
  </form>

</body>
</html>